{% extends 'navigationbar.html' %}
  {% load static %}

{% block body %}
<div class="container" style="margin-top:50px">
<h2 class="text-center">Contact Us</h2>
<br><br>
 <div class="row mt-5">
   <div class="col-lg-3 ">
     <h4><i class="fas fa-phone-square"></i> Contact</h4>
     <p class="mt-3 font-weight-bold"><a href="tel:+91 9581583530">+91 9581583530</a></p>
   </div>

   <div class="col-lg-3">
     <h4><i class="fas fa-envelope"></i> Send Email</h4>
     <p class="mt-3 font-weight-bold"><a href="mailto:reddynarendradondeti@gmail.com">reddynarendradondeti@gmail.com</a></p>
   </div>

   <div class="col-lg-3">
     <h4><i class="fas fa-address-card"></i> Office Address</h4>
     <p class="mt-3 font-weight-bold"><a href="http://maps.google.com/maps?q=Narasaraopet+Guntur">Narasaraopet Guntur</a></p>
   </div>

    <div class="col-lg-3">
     <h4><i class="fas fa-address-card"></i> Office Hours</h4>
     <p class="mt-3 font-weight-bold">9:00 AM to 7:00PM</p>
   </div> 
 </div>
</div>

{% endblock %}